<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>$(DEVELOPMENT_LANGUAGE)</string>
  <key>CFBundleDisplayName</key>
  <string>June</string>
  <key>CFBundleExecutable</key>
  <string>$(EXECUTABLE_NAME)</string>
  <key>CFBundleIdentifier</key>
  <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>$(PRODUCT_NAME)</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>OS Accounts callback</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>junecompanion</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>JUNE_COMPANION_ACCOUNTS_API_ORIGIN</key>
	<string>$(JUNE_COMPANION_ACCOUNTS_API_ORIGIN)</string>
	<key>JUNE_COMPANION_ACCOUNTS_CLIENT_ID</key>
	<string>$(JUNE_COMPANION_ACCOUNTS_CLIENT_ID)</string>
	<key>JUNE_COMPANION_ACCOUNTS_ORIGIN</key>
	<string>$(JUNE_COMPANION_ACCOUNTS_ORIGIN)</string>
	<key>JUNE_COMPANION_ACCOUNTS_REDIRECT_URI</key>
	<string>$(JUNE_COMPANION_ACCOUNTS_REDIRECT_URI)</string>
  <key>ITSAppUsesNonExemptEncryption</key>
  <false/>
  <key>LSRequiresIPhoneOS</key>
  <true/>
  <key>NSAppTransportSecurity</key>
  <dict>
    <key>NSAllowsArbitraryLoads</key>
    <false/>
  </dict>
  <key>NSCameraUsageDescription</key>
  <string>June uses the camera only to scan a pairing code shown on your Mac.</string>
  <key>NSFaceIDUsageDescription</key>
  <string>June uses Face ID only to unlock this linked device.</string>
  <key>UIAppFonts</key>
  <array>
    <string>ABCDiatype-Regular.ttf</string>
    <string>ABCDiatype-Medium.ttf</string>
    <string>BerkeleyMono-Regular.ttf</string>
  </array>
  <key>UIApplicationSceneManifest</key>
  <dict>
    <key>UIApplicationSupportsMultipleScenes</key>
    <false/>
  </dict>
  <key>UIBackgroundModes</key>
  <array>
    <string>remote-notification</string>
  </array>
  <key>UILaunchScreen</key>
  <dict/>
  <key>UISupportedInterfaceOrientations</key>
  <array>
    <string>UIInterfaceOrientationPortrait</string>
    <string>UIInterfaceOrientationLandscapeLeft</string>
    <string>UIInterfaceOrientationLandscapeRight</string>
  </array>
  <key>UISupportedInterfaceOrientations~ipad</key>
  <array>
    <string>UIInterfaceOrientationPortrait</string>
    <string>UIInterfaceOrientationPortraitUpsideDown</string>
    <string>UIInterfaceOrientationLandscapeLeft</string>
    <string>UIInterfaceOrientationLandscapeRight</string>
  </array>
</dict>
</plist>
